/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');


*{
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}




